.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: 'Roboto Mono', monospace;
    border-radius: 5px;
}

h1.title {
    margin-bottom: 1rem;
}

form.locationForm {

    display: flex;
    flex-direction: column;

    input {
        font-family: 'Roboto Mono', monospace;
        width: 12rem;
        margin-bottom: 0.5rem;
    }
}

.current-weather {

    align-items: center;
    display: flex;
    flex-direction: column;

    div {
        margin-right: 1rem;
    }

    p {
        font-size: 3rem;
        line-height: 0;
    }

    img.weather-icon {
        border-radius: 30%;
    }
}

.error-message {

    margin-bottom: 1rem;

    p {
        text-align: center;
    }
}
