<div class="main">
    <h1 class="title">{{ title }}</h1>
    <div *ngIf="currentWeather$ | async as weather" class="current-weather">
        <div>
            <img [src]="weather.current.weather_icons[0]" [alt]="weather.current.weather_descriptions[0]" class="weather-icon">
        </div>
        <div>
            <p>{{ weather.current.temperature }}</p>
        </div>
        <div>
            <button (click)="clear()">Clear</button>
        </div>
        
    </div>

    <div class="error-message" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
    </div>

    <div *ngIf="!currentWeather$ || errorMessage">
        <form class="locationForm" [formGroup]="locationForm" (ngSubmit)="onSubmit()">
            <div>
                <input id="location" class="location-input" type="text" formControlName="location" placeholder="Please enter city name">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
